<div class="form_container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    @if(isViewPage){
    <span>
      <h3>User Details</h3>
    </span>
    } @if(isUpdate){
    <span>
      <h3>Update User</h3>
    </span>
    } @if(createUser) {
    <span>
      <h3>Create User</h3>
    </span>
    }

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      @if((nameValid?.hasError('required'))){
      <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if((emailValid?.hasError('email'))){
      <mat-error>Invalid email address</mat-error>
      } @if((emailValid?.hasError('required'))){
      <mat-error>Email is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>About</mat-label>
      <textarea matInput formControlName="about"></textarea>
    </mat-form-field>

    <div [hidden]="isViewPage">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        @if((passwordValid?.hasError('required'))){
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div formArrayName="strength">
      <div style="display: flex;" *ngFor="let strength of strengthControls.controls; let i = index">
        <mat-form-field appearance="fill">
          <mat-label>Strength {{ i + 1 }}</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <div>
          <button
            type="button"
            mat-icon-button
            color="warn"
            [hidden]="isViewPage"
            (click)="removeStrength(i)"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      type="button"
      [hidden]="isViewPage"
      (click)="addStrength()"
    >
      Add Strength
    </button>

    <button mat-raised-button [hidden]="isViewPage || isUpdate" type="submit">
      Submit
    </button>
    <button
      mat-raised-button
      [hidden]="!isUpdate"
      (click)="updateUserDetails()"
    >
      Update
    </button>
  </form>
</div>
